.login-page {

}

.login-intro,
.login-form {
  float: left;
  width: 50%;
  height: 100%;
  min-height: 100vh;
}

.login-intro {
  position: relative;
  background: url('../img/login-bg.jpg') center no-repeat;
  background-size: cover;
  padding: 70px 40px 70px 50px;
  color: $white;

  .logo {
    margin-bottom: 200px;
  }

  h1 {
    margin-bottom: 20px;
  }

  h2 {
    font-family: $font-open-sans;
    font-size: $fs-extra-large;
    font-weight: 400;
    color: $white;
  }

  &:after {
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(184, 13, 87, 0.8);
    z-index: 0;
  }

  &-content {
    position: relative;
    z-index: 10;
  }
}

.login-form {
  padding: 13px 30px;
  background-color: $white;
  position: relative;
  z-index: 0;
}

.login-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 160px;

  .close-icon {
    font-size: 32px;
  }
}

.login-form-content {
  width: 100%;
  max-width: 340px;
  margin: 0 auto;
  text-align: center;
  font-size: 13px;

  h3 {
    margin-bottom: 60px;
  }

  .btn-primary {
    width: 100%;
    max-width: 245px;
    margin: 30px auto;
  }

  .forgot-password {
    display: block;
  }
}

@media (max-width: 769px) {
  .login-intro,
  .login-form {
    float: none;
    width: 100%;
    height: 100%;
    min-height: 0;
    padding: 30px 15px;
  }

  .login-intro-content {
    .logo {
      margin-bottom: 60px;
    }
  }

  .login-nav {
    margin-bottom: 60px;
  }

  .login-form-content {
    h3 {
      margin-bottom: 40px;
    }
  }
}
