@font-face {
  font-family: "Akkurat-Pro";
  src: url("../fonts/lineto-akkurat-pro-regular.eot");
  src: url("../fonts/lineto-akkurat-pro-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/lineto-akkurat-pro-regular.woff2") format("woff2"), url("../fonts/lineto-akkurat-pro-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "Akkurat-Pro";
  src: url("../fonts/lineto-akkurat-pro-bold.eot");
  src: url("../fonts/lineto-akkurat-pro-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/lineto-akkurat-pro-bold.woff2") format("woff2"), url("../fonts/lineto-akkurat-pro-bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}