$white:                         #ffffff;
$black:                         #2C3948;
$grey:                          #DDDCDC;
$grey-dark:                     #6D6D6D;

$pink:                          #414ECC;
$blue:                          #4EC4F2;

$green:                         #009a66;
$green-hover:                   #02885b;
$red:                           #8e0909;
$red-hover:                     #ca1113;

$orange:                        #FF7C38;

$pink:                          #B80D57;
$pink-text:                     #700961;
$pink-hover:                    #8C0640;

// Fonts

$font-family-main:              'Poppins';
$font-open-sans:                'Open Sans';
$main-font-color:               #6D6D6D;

$default-font-size:             15px;

$fs-extra-small:                10px;
$fs-smaller:                    12px;
$fs-small:                      13px;
$fs-base:                       $default-font-size;
$fs-large:                      16px;
$fs-extra-large:                21px;
$fs-title:                      30px;
$fs-title-main:                 44px;

$default-line-height:           1.6;


// Space

$space-base:                    20px;
$space-min:                     15px;
$space-minimal:                 10px;
$space-large:                   30px;
$default-padding:               45px;
$full-width:                    100%;


// Sizes

$container:                     1154px;
$content-container:             785px;
$screen-lg:                     1200px;
$screen-md:                     991px;
$screen-sm:                     769px;
$screen-xs:                     667px;

// Borders

$default-border:                1px solid #CED8DF;


