.hierarchy {

}

.hierarchy-card {
  background: #FFFFFF;
  border: 1px solid #FFEEF5;
  border-radius: 4px;
  max-width: 654px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 16px 22px;
}

.hierarchy-avatar {
  width: 56px;
  height: 56px;
}

.hierarchy-content {
  width: calc(100% - 56px);
  padding-left: 22px;

  .title {
    color: $pink;
    font-weight: 600;
  }
  
  .content-text {
    font-family: $font-open-sans;
    font-size: 14px;
    color: #B8B8B8;
    line-height: 1.25;
  }
}