.slider-range {
  -webkit-appearance: none;
  width: 100%;
  height: 4px;
  border-radius: 5px;
  background: #DDDCDC;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
  position: relative;

  &:before {
    position: absolute;
    top: -40px;
    left: 0;
    display: block;
    content: 'Bad';
    color: $pink-text;
  }

  &:after {
    position: absolute;
    top: -40px;
    right: 0;
    display: block;
    content: 'Good';
    color: $pink-text;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 19px;
    height: 20px;
    border: 0;
    background: url('../img/range.png');
    background-size: cover;
    cursor: pointer;
  }

  &::-moz-range-thumb {
    width: 19px;
    height: 20px;
    border: 0;
    background: url('../img/range.png');
    background-size: cover;
    cursor: pointer;
  }

  &.clicked {
    &::-webkit-slider-thumb {
      background: url('../img/range-hover.png');
      background-size: cover;
    }

    &::-moz-range-thumb {
      background: url('../img/range-hover.png');
      background-size: cover;
    }
  }
}